<div class="pie"> <!-- html del Footer -->
    <h3>© Alejandro Sastre. 2023 All rights reserved</h3>
</div>

<!--estilo del Footer -->
<style> 
    /*Contenedor principal*/
    .pie {    
        width: 100%;
        background: #22262f; 
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        
    }
    /*Texto del pie de pagina*/
    h3 {
        text-align: center;
        color: #a3abb2;
        font-size: 17px;
    }
</style>
