<header>
    <div class="cajaLogo">
        <a href="#" class="logo">SASTRE</a>
    </div>
    <div class="cajaOpciones">
        <ul class="navlist">
            <li><a href="/">HOME</a></li>
            <li><a href="/home">APOD</a></li>
        </ul>
    </div>
</header>
<style>
    .cajaLogo {
        width: 200px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li a:hover {
        border-bottom: 2px solid white;
    }

    header {
        height: 10vh;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 20px 1%;
        background: #22262f;
    }
    .cajaOpciones {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
    }
    .logo {
        color: white;
        font-weight: 700;
        transition: ease all 0.3s;
        font-size: 30px;
    }

    .logo:hover {
        letter-spacing: 2px;
    }

    .navlist {
        display: flex;
    }

    .navlist a {
        color: white;
        margin-left: 50px;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
    }

</style>

