---

---
<!-- Html donde muestro los datos consultados a la api -->
<script lang="js">
    var imgUrl = "";
    var explicacion = "";
    var date = "";
    var tipo = "";
async function obtenerDatosNasa() {
  try {
    var response = await fetch('https://api.nasa.gov/planetary/apod?api_key=fvKuujPyqJwYfeToP16jxt9wHGqHHuYguJbO15IC');
    var data = await response.json();

    // Actualizar contenido en la página con los nuevos datos
    imgUrl = data.hdurl;
    explicacion = data.explanation;
    date = data.date;
    tipo = data.media_type;

    document.getElementById("imagen").src = imgUrl;
            document.getElementById("imagen").hidden = tipo === 'video';
            document.getElementById("fecha").innerHTML = date;
            document.getElementById("desc").innerHTML = explicacion;

    // Por ejemplo, actualiza el src de una imagen en tu HTM

    // Puedes hacer lo mismo con otros elementos en tu página

  } catch (error) {
    console.error('Error al obtener datos de la API de la NASA:', error);
  }
}

// Llamar a la función al cargar la página
document.addEventListener('DOMContentLoaded', obtenerDatosNasa);


</script>
<section class="cuerpo">

    <div class="contenedor_img">
        <img id="imagen" />
    </div>

    <div class="texto">
        <div id="contador"></div>
        <h1 id="fecha"></h1>
        <p id="desc"></p>
    </div>

</section>

<!-- Script para mostrar el contador (tiempo restante para la siguiente imagen) -->
<script is:inline>
        function actualizarContador() {
      // Obtén la fecha y hora actual
      const ahora = new Date();
      // Establece la hora objetivo a medianoche
      const medianoche = new Date(ahora);
      medianoche.setHours(0, 0, 0, 0);
      // Calcula la diferencia en milisegundos
      const diferencia = ahora - medianoche;
      // Convierte la diferencia a segundos
      const segundosTranscurridos = Math.floor(diferencia / 1000);
      // Calcula los segundos restantes en el día (24 horas - segundos transcurridos)
      const segundosRestantes = 86400 - segundosTranscurridos;

      // Convierte los segundos restantes a horas, minutos y segundos
      const horas = Math.floor(segundosRestantes / 3600);
      const minutos = Math.floor((segundosRestantes % 3600) / 60);
      const segundos = segundosRestantes % 60;

      // Muestra el contador en el elemento HTML con id "contador"
      document.getElementById("contador").innerHTML = `Nueva imagen o vídeo en: ${horas}h ${minutos}m ${segundos}s`;
    }

    // Actualiza el contador cada segundo
    setInterval(actualizarContador, 1000);

    // Inicializa el contador al cargar la página
    actualizarContador();
</script>
<!-- Estilo de los datos mostrados -->
<style>
    .contenedor_img {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    #desc {
        font-size: 1.2rem;
    }
    .texto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50vw;
        height: auto;
    }
    .cuerpo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
        width: 100%;
    }
    #imagen {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        max-width: 50vw;
        max-height: 75vh;
        vertical-align: middle;
        font-style: italic;
        background-repeat: no-repeat;
        background-size: cover;
        shape-margin: 1rem;
    }
    html {
        font-family: system-ui, sans-serif;
        background: #dee1e7;
        background-size: 224px;
    }
   
    .texto p {
        padding: 10px;
        width: 500px;
        text-align: justify;
    }
    .texto h1 {
        padding: 10px;

        text-align: center;
    }

    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
    
    /* Responsive */
    @media (max-width: 1024px) {
        #imagen {
           
        }
        .texto p {
            padding: 10px;
            width: 400px;
            font-size: 14px;
        }
        .texto h1 {
            padding: 10px;

            text-align: center;
        }
    }
    @media (max-width: 768px) {
        .texto p {
            padding: 10px;
            width: 250px;
            text-align: justify;
            font-size: 11px;
        }
        .texto h1 {
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }
    }
    @media (max-width: 426px) {
        #yt {
            height: 100%;
            width: 100%;
        }
        #desc {
        font-size: 1.4rem;
        }
        #imagen {
            max-width: 100%;
            padding: 10px;
            padding-top: 30px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
        }
        .texto p {
            padding: 10px;
            width: 300px;
            text-align: justify;
            font-size: 16px;
        }
        .texto h1 {
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }

        .cuerpo {
            height: auto;
            flex-direction: column;
            overflow: auto;
        }
        .contenedor_img {
            width: 100%;
        }
        .texto {

            margin-top: 15px;
        }
        #contador {
        width: 100vw;
        text-align: center;
    }
    }
    @media (max-width: 376px) {
        #imagen {
            padding: 10px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
        }
        .texto p {
            font-size: 16px;
        }
        #contador {
        width: 100vw;
        text-align: center;
    }
    }
    @media (max-width: 321px) {
        #imagen {
          padding: 10px;
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
        }
        .contenedor_img {
            height: auto;
            width: 100%;
        }
        .texto p {
            font-size: 16px;
        }
        #contador {
        width: 100vw;
        text-align: center;
        }
        .texto {
            height: auto;
        }
    }
    }

</style>
